<div id="invoice">
	<table width="100%">
		<!--top_start-->
		<tr>
			<td id="invoice_top" colspan="2">{INVOICE_TOP}</td>
		</tr>
		<!--top_end-->
		<tr>
			<td>
				<table>
					<tr>
						<td valign="top">{USER_INFO}</td>
						<td valign="top">{USER_CDA}</td>
					</tr>
					<tr>
						<td colspan="2"><b>Email:</b> {USER_EMAIL}</td>
					</tr>
				</table>
			</td>
			<td id="merchant_details" valign="top">{MERCHANT_DETAILS}</td>
		</tr>
		<tr>
			<td id="cart" colspan="2">{CART}</td>
		</tr>
		<!--bottom_start-->
		<tr>
			<td id="invoice_bottom" colspan="2">{INVOICE_BOTTOM}</td>
		</tr>
		<!--bottom_end-->
	</table>
</div>