#AddType x-mapp-php5 .php

#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript application/javascript
#BrowserMatch \bMSIE\s6 no-gzip

#ExpiresActive On

#ExpiresByType text/html "access plus 1 month"
#ExpiresByType text/css "access plus 1 month"
#ExpiresByType application/javascript "access plus 1 month"
#ExpiresByType text/javascript "access plus 1 month"
#ExpiresByType image/gif "access plus 1 month"
#ExpiresByType image/jpg "access plus 1 month"
#ExpiresByType image/jpeg "access plus 1 month"
#ExpiresByType image/png "access plus 1 month"
#ExpiresByType application/x-shockwave-flash "access plus 1 month"

#FileETag none

#Options -MultiViews
RewriteEngine On

########## Start - rewrite for sef's
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/index.php
#RewriteCond %{REQUEST_URI} (/|\.php|\.html|\.htm|\.feed|\.pdf|\.raw|/[^.]*)$  [NC]
RewriteRule ^(.*)$ /index.php
#RewriteCond %{HTTP:Authorization}  !^$
#RewriteRule .* - [E=REMOTE_USER:%{HTTP:Authorization}]
#RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
########## End - sef's

########## Begin - Rewrite rules to block out some common exploits
## If you experience problems on your site block out the operations listed below
## This attempts to block the most common type of exploit `attempts`!
#
# Block out any script trying to base64_encode to send via URL
RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
# Block out any script that includes a <script> tag in URL
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
# Block out any script trying to set a PHP GLOBALS variable via URL
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
# Block out any script trying to modify a _REQUEST variable via URL
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
# Send all blocked request to homepage!
RewriteRule ^(.*)$ index.php [F,L]
#
########## End - Rewrite rules to block out some common exploits
