<div id="all">
	<div id="container">
	<!-- header -->
		<div id="logo"><a href="#">
			<span class="brown"><strong><!--{MERCHANT_NAME}--></strong></span></a>
		</div>
		<div id="menu">
			<!--{MODULE[top menu]}-->
		</div>
		<!--end header -->
		<!-- main -->
		<div id="main">
			<div id="sidebar">
				<!--{MODULE[left]}-->
			</div>
			<div id="text" >
				<!-- content starts here -->
				<!--{LOGIN_STATUS}-->
				<!--{ERROR}-->
				<!--{CONTENT}-->
				<!-- content ends here -->
			</div>
		</div>
		<!-- end main -->
		<!-- footer -->
		<div id="footer">
			<div id="left_footer">
				<p>&copy; Copyright <!--{DATE}--> <!--{MERCHANT_NAME}-->. All Rights Reserved.
				<br />
				<span>
					<img src="/Common/images/uthando.png" />&nbsp;<a href="http://www.shaunfreeman.co.uk">Powered By Uthando</a>
				</span>
				</p>
			</div>
			<div id="right_footer">
				<!-- Please do not change or delete this links. Read the license! Thanks. :-) -->
				<a href="http://www.realitysoftware.ca/website-design.html">Website design</a> by <a href="http://www.realitysoftware.ca">Reality Software</a><br /><span id="benchmark"><!--{BENCHMARK}--></span>
			</div>
		</div>
		<!-- end footer -->
	</div>
</div>
