Public/tmp/*
!index.html
Uthando-Admin/tmp/
!index.html
Uthando-Stats/config/*
Uthando-Stats/data/*
Uthando-Webmail/config/db.inc.php
Uthando-Webmail/config/main.inc.php
Uthando-Webmail/logs/*
Uthando-Webmail/temp/*
Uthando-Webmail/skins/default/templates/login.html
Uthando-ini/*
