setup/*
Uthando-Apache/sites-available/*
!default
Uthando-Apache/sites-enabled/*
!000-default
Public/tmp/*
!index.html
Uthando-Admin/Common/tmp/
!index.html
Uthando-Stats/*
Uthando-ini/*
uthando.session
uthando.webprj