/*
form elements
*/

#contentPage {
	position: absolute;
	top:110px;
	right:10px;
	bottom:10px;
	left:10px;
	overflow:auto;
}

#tableWrap {
	position: absolute;
	top: 115px;
}

/*
Buttons
*/
#content-24 {
	width: 50px;
	background: url(/images/24x24/File.png) no-repeat center 5px;
}

#new_page-24 {
	width: 60px;
	background: url(/images/24x24/NewPage.png) no-repeat center 5px;
}

#edit-24 {
	width: 60px;
	background: url(/images/24x24/Html.png) no-repeat center 5px;
}

textarea {width:100%}

/*
tinyMCE table styles
*/

.mceEditor table {
    position:relative;
    top:0px;
}

.mceEditor tr {
    background: none;
}

.mceEditor td {
    padding:0px;
    border-spacing:0px;
}

/*
codeMirror styles
*/

.CodeMirror-line-numbers {
	width: 2.2em;
	color: #aaa;
	background-color: #eee;
	text-align: right;
	padding-right: .3em;
	font-size: 10pt;
	font-family: monospace;
	padding-top: .4em;
}

.code {
	font-family: courier, monospace;
	font-size: 90%;
	color: #144;
}

.codeWrap {
	border:1px solid #000;
	padding: 3px;
	background-color:#fff;
}
