/*
form elements
*/

#contentPage {
	position: absolute;
	top:110px;
	right:10px;
	bottom:10px;
	left:10px;
	overflow:auto;
}

#tableWrap {
	position: absolute;
	top: 115px;
}

/*
Buttons
*/
#content-24 {
	width: 50px;
	background: url(/images/24x24/File.png) no-repeat center 5px;
}

#new_page-24 {
	width: 60px;
	background: url(/images/24x24/NewPage.png) no-repeat center 5px;
}

#edit-24 {
	width: 60px;
	background: url(/images/24x24/Html.png) no-repeat center 5px;
}
