/*
form elements
*/

#addUser {
	width:580px;
}

#addUser .table {
	margin-left:0px;
}

#addUser .table-cell {
	width:150px;
}

#addUser .cell2 {
	width:auto;
}

/*
Buttons
*/

#users-24 {
	background: url(/images/24x24/UserGroup2.png) no-repeat center 5px;
}

#new_user-24 {
	width:60px;
	background: url(/images/24x24/AddUser.png) no-repeat center 5px;
}

/*
Admin login
*/

#adminLoginWrap {
	text-align:center;
	width:500px;
	position:absolute;
	bottom:5px;
	top:32px;
	left:300px;
	right:20px;
	overflow:auto;
	padding-left:10px;
	padding-right:10px;
}
  
#adminLoginWrap  form {
	width:480px;
}

#adminLoginWrap legend {
	text-align: left;
}
  
#adminLoginWrap .table {
	margin:auto;
	width:450px;
}

#adminLoginWrap .table-row {
	margin:0px;
}

#adminLoginWrap .table-cell {
	width: 275px;
	margin:0px;
	float:left;
}

#adminLoginWrap .table-cell p {
	text-align:right;
	margin:0px;
}

#adminLoginWrap .cell2 p {
	text-align:left;
	margin-left:5px;
}

#adminLoginWrap .cell2 {
	width:auto;
}

#loginSidePanel {
	width:250px;
	height: 138px;
	/*border: 1px solid #003399;*/
	padding: 5px;
	margin: 10px;
	float:left;
}

#loginSidePanel img {
	float:left;
}

.refresh_captcha {
	width:260px;
	margin-left:auto;
	margin-right:auto;
}

.refresh_captcha p {
	float:left;
	vertical-align:middle;
	line-height:24px;
}
