html {background:url(/templates/walls/images/body_bckg.jpg) center repeat-y #1f0100;}
body {margin:0; font-size:15px; line-height:18px; font-family:"Times New Roman", Times, serif; background:url(/templates/walls/images/head_bckg.jpg) repeat-x; padding-top:80px;}
a {color:#775b30;}
a:hover {text-decoration:none;}
img {border:0px;}

#container {width:1000px; margin:0 auto;}

#header {margin:0 20px; background:url(/templates/walls/images/main_top.jpg) no-repeat #FFFFFF; height:80px;}
#logo {float:left; height:30px; padding:50px 0 0 90px; background:url(images/logo.gif) no-repeat 40px 40px; width:290px;}
#logo a {color:#000000; font-size:24px; text-decoration:none; text-transform:uppercase;}
#menu {float:left; height:30px; padding:50px 0 0 0; width:580px;}
#menu ul {margin:0; padding:0;}
#menu ul li {display:inline; list-style:none;}
#menu ul a {display:block; float:left; font-size:18px; text-decoration:none; padding:0 10px 2px 10px; color:#000000;}
#menu ul a:hover {background-color:#F7F2EE;}

#main {margin:0 20px; background-color:#FFFFFF; float:left;}
#text {float:right; width:550px; padding:10px 20px 0 20px;}
#text ul {padding:0; margin:10px 0 10px 40px;}
#text ul li {padding-left:20px; background:url(/templates/walls/images/li.gif) no-repeat; list-style:none;}
h1, .contentheading {margin:20px 0 0 0; text-transform:uppercase; font-size:20px; font-weight:normal;}
#text p {margin:10px 0;}
#sidebar {float:left; width:270px; background:url(/templates/walls/images/sidebar_image.jpg) no-repeat 0 10px; padding:420px 50px 20px 50px; color:#775b30; font-size:12px;}

#footer {height:149px; clear:both; background:url(/templates/walls/images/footer_bckg.jpg) no-repeat; text-transform:uppercase; font-size:10px; color:#5c5c5c;}
#left_footer {float:left; padding:10px 0 0 50px;}
#right_footer {float:right; padding:20px 50px 0 0;}
#left_footer span img,  #left_footer span a {vertical-align:middle}

#benchmark {text-align:center;}

/* Dates */
.createdate {color: #4b4b4b; font-size: 11px; font-weight: bold; text-transform: none; padding-bottom: 15px; line-height: 12px; }
.modifydate {color: #4b4b4b; font-size: 11px; font-style: normal; text-transform: none; line-height: 12px;}

.center {text-align:center;}
.both {clear: both;}

#sidebar div.moduletable h3, #sidebar .moduletable_menu h3 {font: bold 11px;line-height: 16px; text-transform: none; text-align: center; letter-spacing: 0px;}

#sidebar div.moduletable, #sidebar div.moduletable {text-align: center; margin-bottom: 2px;}
 