
/* *********************** GENERAL SETTINGS     *********************** */
body {
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #d1d1d1;
	background: #000000;
	margin: 0px;
	padding: 20px 0px 20px 0px;
}
/* CSS global reset for all browsers */ 
* { padding: 0px; margin: 0px; }
/*  Global Formatting */

h1 {
	font-weight: bold;
	font-size: 24px;
	color: #d1d1d1;
	letter-spacing: -1px;
	line-height: 30px;
}

h2 {
	font-weight: bold;
	font-size: 20px;
	color: #d1d1d1;
	letter-spacing: -1px;
	text-transform: none;
	line-height: 26px;
	
}

h3 {
	font-weight: normal;
	font-size: 18px;
	color: #d1d1d1;
	letter-spacing: 0px;
	line-height: 24px;
	text-transform: none;
}

h4 {
	font-weight: bold;
	font-size: 13px;
	color: #d1d1d1;
	line-height: 19px;
	text-transform: none;
}

h5 {
	font-weight: bold;
	font-size: 12px;
	color: #d1d1d1;
	line-height: 18px;
	text-transform: none;
}

h6 {
	font-weight: bold;
	font-size: 11px;
	color: #d1d1d1;
	line-height: 17px;
	text-transform: none;
}

a {
	color: #ff6c00;
	text-decoration: underline;
}

a:hover {
	color: #ff6c00;
	text-decoration: none;
}

a.image, a.image:hover  {
	border: 0;
}

li {
	margin-left: 24px;
}

fieldset {
	width: 90%;
	padding: 5px;
	border: 1px solid #666666;
}

.both {
	clear: both;
}

input, select, label {
	vertical-align: middle;
}

p {
	padding: 5px 0px;
}

/* *********************** END GENERAL SETTINGS *********************** */

#content { 
	margin: 0px auto;
	width: 1000px;
	background: #0b0b0b url(/templates/designsuite/images/content_bg.gif) repeat-y top center;
	padding: 0px;
}

#c_top {
	background: transparent url(/templates/designsuite/images/top_bg.jpg) no-repeat top center;
	width: 1000px;
}

#c_bot {
	width: 1000px;
	background: transparent url(/templates/designsuite/images/c_bot_bg.jpg) no-repeat bottom center;
}

#top { 
	padding: 0px; 
	margin: 0px;
	height: 94px; 
	width: 1000px;
	position: relative;
} 

#top h1 {
	font: bold 24px Arial, Helvetica, sans-serif;
	line-height: 30px;
	color: #ffffff; 
	letter-spacing: -2px; 
	text-transform: uppercase;
	position: absolute;
	top: 37px;
	left: 83px;
}

#top h2 {
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #ff6c00; 
	letter-spacing: 0px; 
	text-transform: uppercase;
	position: absolute;
	top: 74px;
	left: 82px;
}

#top #logo {
	position: relative;
	top: 38px;
	left: 30px;
	height:50%;
}

#top #menu {
	position: absolute;
	bottom: 12px;
	right: 20px;
}

#menu #uls {
	text-align: right;
	padding: 0px;
}

#menu table.moduletable {
	margin: 0px;
	padding: 0px;
}

#menu #uls table.moduletable td {
	background: none;
}

#menu #uls ul {
	list-style: none; 
	text-align: right; 
	padding-top: 0px;
	display: inline;
	float: right;
}

#mainlevel-nav li
{
	padding: 0px;
	background: transparent;
	display: inline;
	white-space: nowrap;
	margin: 0px;
	float: left;
}

#mainlevel-nav li a
{
	display: block;
	text-decoration: none;
	text-align: left;
	color: #ffffff;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	text-transform: none;
	background: transparent;
	padding: 0px 12px;
}

#mainlevel-nav li a:hover {
	color: #ff6c00;
	text-decoration: none;
}

#mod_user5, #mod_user6, #mod_user7 {
	width: 190px;
	color: #d1d1d1;
	padding: 4px 0px;
}

#mod_user5 a, #mod_user6 a, #mod_user7 a {
	color: #ff6c00;
}

/* Accordion */

#wrapper2 .tabbed h3 {
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	line-height: 19px;
	text-indent: 10px;
	cursor: pointer;
	text-transform: none;
}

#wrapper2 h3 {
	padding: 0px;
	margin: 0px;
	font-size: 12px;
	letter-spacing: 0px;
}

#wrapper2 h3 a {
	color: #ffffff;
	text-decoration: none;
}

#wrapper2 h3 a:hover {
	color: #ff6c00;
	text-decoration: none;
}

#wrapper2 {
	width: 190px;
	padding: 0px 0px;
	margin: 0px;
}

#wrapper2 .tabbed{
	color: #ffffff;
	margin: 0px;
	height: 21px;
	padding: 0px 0px;
	background: #111111 url(/templates/designsuite/images/toggler_bg.gif) repeat-x top center;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	cursor: pointer;
}

#main {
	padding: 0px 0px 10px 0px;  
	margin: 0px 10px; 
	width: 980px;
	background: transparent; 
	clear: both;
} 

#left_col {
	width: 190px;
	float: left;
	padding-right: 10px;
	background: transparent url(/templates/designsuite/images/left_col_bg.gif) repeat-y top left;
	margin-bottom: 10px;
}

#left_col_top {
	width: 190px;
	background: transparent url(/templates/designsuite/images/left_col_top_bg.jpg) no-repeat top left;
}

#left_col_bot {
	width: 160px;
	padding: 10px 15px;
	background: transparent url(/templates/designsuite/images/left_col_bot_bg.jpg) no-repeat bottom left;
}

#right_col {
	width: 190px;
	float: left;
	padding-right: 10px;
	padding-top: 13px;
}

#right_col div.moduletable h3 {
	color: #ffffff;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	line-height: 19px;
	height: 21px;
	text-indent: 10px;
	letter-spacing: 0px;
	background: #111111 url(/templates/designsuite/images/right_col_h_bg.gif) no-repeat top center;
}

#main_content {
	float: left;
	width: 570px;
	margin: 0px;
	padding: 0px;
}

#main_body {
	margin: 0px;
	padding: 0px;
	width: 570px;
	margin-top: 10px;
	margin-bottom: 7px;
	background: #111111 url(/templates/designsuite/images/mb_bg.gif) repeat-y top center;
}

#mb_top {
	width: 570px;
	background: transparent url(/templates/designsuite/images/mb_top_bg.gif) no-repeat top center;
}

#mb_bot {
	width: 546px;
	background: transparent url(/templates/designsuite/images/mb_bot_bg.gif) no-repeat bottom center;
	padding: 5px 12px 15px 12px;
	position: relative;
}

#mb_bot #jump_top {
	position: absolute;
	bottom: 0px;
	right: 6px;
	width: 138px;
	height: 17px;
	text-align: center;
	line-height: 16px;
	background: transparent url(/templates/designsuite/images/jump_bg.gif) no-repeat top center;
}

#jump_top a {
	color: #ff6c00;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

#jump_top a:hover {
	color: #ffffff;
}

/********************/

#newsflash {
	margin: 0px;
	padding: 0px;
	width: 570px;
	margin-top: 13px;
	background: #1c1c1c url(/templates/designsuite/images/nf_bg.gif) repeat-y top center;
}

#nf_top {
	width: 570px;
	background: transparent url(/templates/designsuite/images/nf_top_bg.gif) no-repeat top center;
}

#nf_bot {
	width: 546px;
	background: transparent url(/templates/designsuite/images/nf_bot_bg.gif) no-repeat bottom center;
	padding: 5px 12px;
}

#newsflash div.moduletable td, #newsflash .contentpaneopen td {
	padding: 0px;
	margin: 0px;
	color: #d1d1d1;
	line-height: 14px;
	background: transparent;
	text-align: left;
}

#newsflash div.moduletable h3 {
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #d1d1d1;
	letter-spacing: 0px;
	line-height: 18px;
}

#newsflash .article_seperator { 
	background-color : transparent;
	font-size: 1px;
}

#latest_news {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	width: 180px;	
}

/******/

.white_space {
	height: 20px;
	display: block;
}

.sep {
	display: block;
	height: 10px;
	clear: both;
}

#footer {
	margin: 0px;
	width: 100%;
	height: 106px;
	background: transparent;
}

#footer p {
	font-size: 11px;
	color: #4b4b4b;
	text-align: left;
	margin: 0px 18px;
	padding: 8px 0px;
	line-height: 16px;
	background: transparent;
}

#footer p a {
	text-decoration: none;
	color: #4b4b4b;
	font-weight: bold;
}

#footer p a:hover {
	text-decoration: underline;
}

/* *********************** END LAYOUT SETTINGS  *********************** */

/* *********************** NAVIGATION SECTION   *********************** */
/* Pathway Breadcrumbs */	
	.pathway {font-size: 10px;color:#ccc; font-weight: bold;}
	a.pathway {color: #ffcc00;text-decoration: none;}
	a.pathway:hover {color:#ffcc00;text-decoration: underline;}

/* Mainlevel menu */

ul.menu li a {
	background: transparent;
	color: #d1d1d1;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	line-height: 12px;
	text-transform: none;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 0px 0px;
	margin: 11px 0px 0px 0px;
}
	
ul.menu li a:hover {
	color: #ff6c00;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	border-left: 3px solid #ff6c00;
	line-height: 12px;
	text-transform: none;
	text-decoration: none;
	display: block;
	text-align: left;
	padding: 0px 0px 0px 15px;
	margin: 11px 0px 0px 0px;
}

ul.menu, ul.menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.menu li {
	padding: 0px;
	margin: 0px;	
	display: block;	
}

ul.menu ul {
	clear: both;
}

ul.menu ul li {
	padding: 0px;
	width: 135px;
	margin: 0px 0px 0px 10px;
	display: block;
}

div.moduletable_menu ul.menu li#current a, div.moduletable_menu ul.menu li#current a:hover {
	color: #d1d1d1;
	border-left: 3px solid #ff6c00;
	padding: 0px 0px 0px 15px;
	font-weight: bold;
}

div.moduletable_menu ul.menu li#current ul li a, div.moduletable_menu ul.menu li ul li a {
	color: #d1d1d1;
	text-decoration: none;
	background: none;
	border: none;
	font-weight: normal;
	padding: 0px;	
}

div.moduletable_menu ul.menu li#current ul li a:hover, div.moduletable_menu ul.menu li ul li a:hover {
	color: #666666;
	text-decoration: none;
	background: none;
	border: none;
	font-weight: normal;
	padding: 0px;
}

/* *********************** END NAVIGATION SECTION ********************* */

/* *********************** STANDARD MODULE TABLE  ********************* */
table.moduletable {
	width: 100%;
	padding: 0px;
	margin: 0px 0px 5px 0px;
}

#left_col .moduletable h3, #left_col .moduletable_menu h3 { 
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	line-height: 16px;
	padding: 2px 0px;
	margin: 0px 0px 3px 0px;
	height: 18px;
	text-transform: none;
	color: #ffffff;
	text-align: left;
	background: transparent url(/templates/designsuite/images/left_col_h_bg.gif) no-repeat bottom center;
	letter-spacing: 0px;
}

#left_col div.moduletable, #left_col div.moduletable_menu {
	text-align: left;
	padding: 0px 0px 13px 0px;
	margin-bottom: 2px;
	background: transparent;
}

#right_col div.moduletable {
	padding: 0px 0px 4px 0px;
}

table.moduletable td {height: 18px; text-align: center; } 

table.moduletable p {
	text-align: left;
}

/* Custom Modules */

.latestnews, .mostread {
	list-style: none;
	padding: 1px 0px;
	margin: 0px;
	text-align: left;
}

li.latestnews, li.mostread {
	width: 140px;
	list-style: none;
	padding: 1px 0px;
	margin: 0px;	
}

li.latestnews a, li.mostread a {
	text-transform: none;
	text-decoration: none;
	text-align: left;
	padding-left: 20px;
	display: block;
	width: 140px;
	color: #ff6c00;
	background: transparent url(/templates/designsuite/images/arrow.gif) no-repeat 1px 5px;
}

li.latestnews a:hover, li.mostread a:hover {
	text-decoration: underline;
	color: #d1d1d1;
}

.search {
	padding: 5px 0px;
	margin: 0px;
	text-align: center;
}

.search .button {
	background: none;
	border: none;
	color: #ff6c00;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	line-height: 19px;
	height: 19px;
	letter-spacing: 0px;
	vertical-align: middle;
	text-transform: uppercase;
	padding: 0px;
	margin: 0px;
	width: 65px;
}

.search .button:hover {
	color: #ffffff;
}

.search .inputbox {
	margin: 2px 0px;
	padding: 2px;
	width: 150px;
	background: #000000;
	border: 1px solid #2e2e2e;
	color: #666666;
	vertical-align: middle;
}

/* End Custom Modules */

/* *********************** END STANDARD MODULE TABLE ********************* */

/* *********************** CONTENT - SECTIONS & CATEGORIES *********************** */

td.contentheading {
	padding: 5px 0px;
	margin: 0px;
	line-height: 14px;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	letter-spacing: 0px;
	color: #ff6c00;
	text-transform: none;
}

.contentheading table td {
	letter-spacing: 0px;
	font-weight: bold;
}

/* content title and links */
.contentpagetitle {background-color : transparent; }
a.contentpagetitle,a.contentpagetitle:link, a.contentpagetitle:visited 
{text-decoration: none;font-weight: bold; color: #ff6c00; }
a.contentpagetitle:hover { color: #ffffff; text-decoration: none;}

/* top box like a category description */
.contentdescription {
	background-color : transparent;
	padding: 10px 0px;
}

/* Main Body Text */
.contentpane { }

.contentpaneopen { 
	line-height: 16px;
}

.contentpaneopen h1 {
	background-image: url(/templates/designsuite/images/lplatebk.png);
	background-repeat: no-repeat;
	background-position: 0px 5px;
	height: 30px;
	font-size: 22px;
	line-height: 30px;
	padding: 5px 0px 5px 40px;
}

.contentpaneopen a {
	color: #d1d1d1;
	text-decoration: none;
}

.right {
	float:right;
	margin-left:10px
}

.left {
	float: left;
	margin-right:10px
}

/* Main Body Text */

/* article rating */
.content_rating {font-weight: normal;font-size:10px; padding-left: 2px;vertical-align: middle;line-height: 10px;}
.content_vote {font-weight: normal;font-size: 10px;}
.content_rating img {
	vertical-align: middle;
}

.content_vote input {
	background: none;
	margin-left: 1px;
	margin-right: 1px;
}

/* icons */
.buttonheading{font-size: 12px;}
.pop-ups {float: right;}
a.pop-up {border-bottom: 0;}

/* Dates */
.createdate {color: #4b4b4b; font-size: 11px; font-weight: bold; text-transform: none; padding-bottom: 15px; line-height: 12px; }
.modifydate {color: #4b4b4b; font-size: 11px; font-style: normal; text-transform: none; line-height: 12px;}
.newsfeeddate {font-size: 11px; color: #999; font-weight: normal;}
/* Dates */

/* Writen by Authors name */
.small { 
	color: #4b4b4b;
	font-size: 11px;
	line-height: 12px;
	margin: 0px; padding: 0px;
	text-transform: none;
}

/* Page navigation links "<<< 1 of 10 next >>>" */
.pagenav { 
	font-size: 11px; 
	color: #d1d1d1;
}
.pagebar{font-size: 11px; font-weight: normal;}
.pagenav_prev{font-size: 11px; color: #d1d1d1; text-decoration: none; }
.pagenav_next{font-size: 11px; color: #d1d1d1; text-decoration: none; }
a.pagenav {color: #ff6c00; text-decoration: none; font-weight: normal; }
a.pagenav:hover {color: #d1d1d1; text-decoration: none; font-weight: normal; }
.pagenavcounter{	height: 15px;  }
.back_button{font-size: 11px; letter-spacing: 1px; height: 15px; clear: both;  margin: 5px 0px; text-transform: uppercase; font-weight: bold; }

/* Read more link */
.readon {
	font-weight: bold !important;
	text-decoration: none;
	color: #ffffff;
}

.readon:hover {
	text-decoration: underline;
	color: #ff6c00;
}

/* Article index   */
table.contenttoc {
	padding: 0px;
	margin: 2px;
	font-size: 11px;
	}
	
table.contenttoc th {
	background: transparent; 
	color: #666666;
}
	
table.contenttoc td {padding: 2px;}

/* Links article index */
	a.toclink:hover, a.toclink:visited, a.toclink:link {	height: 18px; }
/* End Article index  */

/*  component heading */
.componentheading {
	text-align: right;
	margin-top: 5px;
	background: transparent;
	line-height: 20px;
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #666666;
	text-transform: uppercase;
	letter-spacing: -1px;
}

/* Sectiontable Table types listings Faqs's, weblink etc..*/
.sectiontableheader {
	background: #000000;
	color : #999999;
	border-collapse: collapse;
	font-weight: bold;
	text-transform: uppercase;
	padding: 3px;
}

/* Table odd and Even Rows */
.sectiontableentry1 {
	background: transparent;
	color: #666666;
	font-size: 11px; 
	padding: 2px 0px !important;
	text-align: left;
}

.sectiontableentry2 {
	background: #0d0d0d;
	color: #666666;
	font-size: 11px; 
	padding: 2px 0px !important;
	text-align: left;
}

.sectiontableentry1 td, .sectiontableentry2 td {
	padding: 2px !important;
}

.sectiontableentry1 input, .sectiontableentry2 input {
	margin: 0px; 
	padding: 0px;
	height: 15px;
	width: 15px;
	background: none;
	vertical-align: middle;
}

.sectiontableentry1 label, .sectiontableentry2 label {
	margin: 0px;
	padding: 0px 0px 0px 5px;
	width: 160px;
	display: block;
}

.sectiontablefooter {
	height: 18px; 
}

table.poll {
	border: none;
	margin: 0px;
	padding: 0px 5px;
}

table.poll thead td {
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

table.pollstableborder {
	margin: 0px;
	padding: 0px;
	border: none;
}

table.pollstableborder td {
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 130px;
}

/* End Sectiontable */

/* Category */
.category {color:#ccc;}
a.category:link, a.category:visited { height: 15px; color: #ff8400; text-decoration: underline;  }
a.category:hover  {	height: 15px; color: #ff8400; text-decoration: none; }
/* End category */

/* blogsection */
.blog {background-color: transparent;}
.blogsection{	height: 18px;  }
.blog_more{	clear: both; display: block; width: 430px; padding: 10px 0px; }
.blog_heading {	height: 18px;  }
/* space from bottom of article */
.article_seperator{background-color : transparent;}
/* End blogsection */

/* results if not search google */
.searchintro{height: 18px;}
/*Search Form keyword highlight*/
.highlight {
	background: #f0f0f0;
	padding: 0px 4px 0px 4px;
	color: #333333;
	font-weight: bold;
}
/* End Search Form */

/* wrapper title */
.wrapper{background-color : #FFFFFF;}
/* *********************** END CONTENT - SECTIONS & CATEGORIES *********************** */

/* *********************** FORM SECTION  *********************** */	
form { 
	font-size: 11px;
	margin: 0px;
}

input {
	background-color: #FFFFFF;
	font-size: 11px; color: #333;
}

#mod_login_username, #mod_login_password {
	background: #000000;
	font-size: 11px;
	padding: 2px;
	margin: 3px 0px;
	width: 150px;
	border: 1px solid #2e2e2e;
	color: #666;
}

#mod_login_remember {
	background: #111111;
	border: none;
	height: 15px;
	vertical-align: middle;
	padding: 0px;
	margin: 3px;
}

.inputbox { background: transparent; border: 1px solid #666666; margin: 2px 0px; color: #cccccc; }
.text_area, textarea {background: transparent; border: 1px solid #666666; width: 100%; color: #cccccc; }
/* Pull down menu */
.selectbox {width: 100%;}
/* Submit Button */
.button {
	border: none;
	color: #ff6c00;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif;
	background: transparent;
	margin: 0px;	
	text-transform: none;
	vertical-align: middle;
	outline: none;
	height: 23px;
}

.button:hover {
	color: #ffffff;
}


#left_col select, #left_col #mod_templatechooser_jos_change_template, #left_col option, select, select option {
	background: #000000;
	font-size: 11px;
	padding: 1px;
	margin: 3px 0px;
	width: 156px;
	border: 1px solid #2e2e2e;
	color: #666;
	height: auto;
	font-weight: normal;
}

#main_content select, #main_content select option {
	width: auto;
}


/* Contact Email Form */
.contact_email {margin: 0px;padding: 0px;}

#searchphraseany, #searchphraseall, #searchphraseexact {
	background: none;
}


/* *********************** END FORM SECTION *********************** */

/* *********************** TABBED EDITING *********************** */
/*When user login to edit or sumbit articles*/
/* for modifying {moscode} output.  Don't set the colour! */
.moscode {
	background-color: #f0f0f0;
}
		
.code {
	font-family: courier, serif;
	font-size: 1.2em;
	padding: 2px;
	background-color: #f0f0f0;
	color: blue;
	border: 1px solid #d5d5d5;
	margin: 0px;
	width: 90%;
}


/* Text passed with mosmsg url parameter */
.message {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size : 1em;
	color : #666;
	text-align: center;
   }

/* Styles for dhtml tabbed-pages */
.ontab {
	background-color: #666666;
	border-left: outset 1px #666;
	border-right: outset 1px #333;
	border-top: outset 1px #666;
	border-bottom: solid 1px #333;
	text-align: center;
	cursor: default;
	font-weight: bold;
	color: #FFFFFF;
	padding: .2em;
   }

.offtab {
	background-color : #cccccc;
	border-left: outset 1px #666;
	border-right: outset 1px #333;
	border-top: outset 1px #666;
	border-bottom: solid 1px #333;
	text-align: center;
	cursor: default;
	font-weight: normal;
	padding: .2em;
   }

.edit-tabs {
   padding: 1em;
   background: none;
   }
img { border: 0 none; }

.tabpadding {padding:1px;}

.tabheading {
	background-color: #FF6600;
	text-align: left;
   }

.pagetext {
	visibility: hidden;
	display: none;
   }

	/*Body of the form*/
.adminform{background-color : #FFFFFF;}
/* *********************** End TABBED EDITING *********************** */

.center {
	text-align:center;
}

.center img {
	margin:5px;
	vertical-align:middle;
}

#carousel {
	width: 238px;
	height: 184px;
	overflow: hidden;
}

.element_swap {
	position:relative;
	height: 180px;
	width: 240px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

#carousel .slides div {
	position: absolute;
	height: 180px;
	width: 240px;
}

#carousel .slide p {
	margin: 0px;
	padding: 0px;
	height: 180px;
	background-color: transparent;
	background-image: url(/userfiles/image/car_strip.png);
	background-repeat: no-repeat;
}

.element_swap {
	background-image: url(/userfiles/image/car_strip.png);
	background-position: 0px -1800px;
}

#car1 {
	background-position: 0px 0px;
}

#car2 {
	background-position: 0px -180px;
}

#car3 {
	background-position: 0px -360px;
}

#car4 {
	background-position: 0px -540px;
}

#car5 {
	background-position: 0px -720px;
}

#car6 {
	background-position: 0px -900px;
}

#car7 {
	background-position: 0px -1080px;
}

#car8 {
	background-position: 0px -1260px;
}

#car9 {
	background-position: 0px -1440px;
}

#car10 {
	background-position: 0px -1620px;
}

#practical_test img {
	width: 185px;
	height: 145px;
}

#practical_test {
	margin: 0px;
	padding: 0px;
	background-image: url(/userfiles/image/practical_test.gif);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	float:right;
}

.quote {
	font-size:28px;
	font-family: "Times New Roman";
}

.center {
	text-align:center;
}

.fail {
	color:#FF0000;
}

.ok {
	color:#009f3c;
}

.info {
	color:#1682d5;
}

.fail img, .fail p, .ok img, .ok p, .info img, .info p {
	vertical-align:middle;
}

.error_msg {
	color:red;
	font-size:10pt;
}

.smcap {
	font-variant:small-caps;
	font-weight:bold;
}

.debug_message {
	font-variant:normal;
}

#benchmark {
	text-align:left;
	font-size:12px;
}

.mask {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
	z-index: 999;
	background: #0b0b0b;
}

.spinner {
	position: absolute;
	opacity: 0.9;
	filter: alpha(opacity=90);
	z-index: 999;
	background: #0b0b0b;
}
.spinner-msg {
	text-align: center;
	font-weight: bold;
}

.spinner-img {
	background: url(/Common/images/1_loading.gif) no-repeat;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}
