/* Moviebox and Slimbox stylesheet - black theme */

#lbOverlay {
position: absolute;
left: 0;
width: 100%;
background-color: #000;
cursor: pointer;
}

#lbCenter, #lbBottomContainer {
position: absolute;
left: 50%;
overflow: hidden;
background-color: #000;
}

.lbLoading {
background: #000 url(../images/1_loading.gif) no-repeat center;
}

#lbImage {
background-repeat: no-repeat;
border: 7px solid #000;
}

#lbPrevLink, #lbNextLink {
display: block;
position: absolute;
top: 0;
width: 50%;
outline: none;
}

#lbPrevLink {
left: 0;
}

#lbPrevLink:hover {
background: transparent url(../images/1_prev.png) no-repeat 0% 30%;
}

#lbNextLink {
right: 0;
}

#lbNextLink:hover {
background: transparent url(../images/1_next.png) no-repeat 100% 30%;
}

#lbBottom {
font-family: Verdana, Helvetica, sans-serif;
font-size: 10px;
color: #666;
line-height: 16px;
text-align: left;
border: 7px solid #000;
border-top-style: none;
}

#lbCloseLink {
display: block;
float: right;
width: 80px;
height: 16px;
background: transparent url(../images/1_close.png) no-repeat center;
margin: 0px;
}

#lbCaption, #lbNumber {
margin-right: 14px;
}

#lbCaption {
font-weight: bold;
}