.center {
	text-align:center;
}

.fail {
	color:#FF0000;
}

.ok {
	color:#009f3c;
}

.info {
	color:#1682d5;
}

.fail img, .fail p, .ok img, .ok p, .info img, .info p {
	vertical-align:middle;
}

.error_msg {
	color:red;
	font-size:10pt;
}

.smcap {
	font-variant:small-caps;
	font-weight:bold;
}