<div class="paginate_wrap <!--{ID}-->">
	<div class="current_view">Currently viewing records <b><!--{CURRENT_RECORDS}--></b> of <!--{COUNT}--></div>
	<div class="paginate">
		<a href="<!--{LINK}-->" class="link" style="display: none;"><!--{PAGES}--></a>
		<span class="per" style="display: none;"><!--{PER}--></span>
		<div class="slider" style="display:none">
			<div class="Tips knob" title="Tip" rel="Drag me to go to the desired page"></div>
		</div>
		<div class="numbers"><!--{PAGE_NUMBERS}--></div>
		<div style="float: left;">Page <span class="current"><!--{CURRENT}--></span> of <!--{PAGES}--></div>
	</div>
	<div class="both"></div>
	<div class="previous"><!--{PREVIOUS}--></div>
	<div class="next"><!--{NEXT}--></div>
</div>