<div class="filemanager-container filemanager-engine-gecko">
	<div class="filemanager">
		<div class="filemanager-menu">
			<div class="loader"></div>
			<button class="filemanager-create">Create folder</button>
		</div>
		<ul class="filemanager-browser"></ul>
		<div class="filemanager-infos">
			<div class="filemanager-head">
				<img class="filemanager-icon" />
				<h1></h1>
			</div>
			<h2>Information</h2>
			<dl>
				<dt>Last modified:</dt>
				<dd class="filemanager-modified"></dd>
				<dt>Type:</dt>
				<dd class="filemanager-type"></dd>
				<dt>Size:</dt>
				<dd class="filemanager-size"></dd>
				<dt>Path:</dt>
				<dd class="filemanager-dir"></dd>
			</dl>
			<h2 class="filemanager-headline">Preview</h2>
			<div class="filemanager-preview"></div>
		</div>
		<div class="filemanager-close">
			<img src="/templates/admin/images/FileManager/destroy.png" />
		</div>
	</div>
</div>