#products { margin-bottom: 30px; }

#products .button {
	width:auto;
	color: #000;
	font-family: verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid buttonshadow;
    border-right: 1px solid buttonshadow;
    border-top: 1px solid buttonhighlight;
    border-left: 1px solid buttonhighlight;
	background: url(/images/ushop/headDiv.png) repeat-x;
	padding: 0px 5px;
	line-height:22px;
	height: 22px;
	margin: 1px;
	cursor: pointer;
	-moz-border-radius:10px 5px;
	-webkit-border-radius:10px 5px;
}

#products a.button {
	display:inline-block;
	text-decoration:none;
}

#products .button:hover, #products .buttonOver {
	color: #81764F;
	font-weight: bold;
	border-top: 1px solid buttonshadow;
    border-left: 1px solid buttonshadow;
    border-bottom: 1px solid buttonhighlight;
    border-right: 1px solid buttonhighlight;
	background: url(/images/ushop/outerHeadDiv.png) repeat-x;
}

#products .button a {
	display:block;
	color: #000;
	text-decoration: none;
}

#products .button:hover a, #products .buttonOver a {
	color: #81764F;
}

.checkout_buttons {
	text-align:center;
}

#products .category_display, #products .product_list_display {
	float:left;
	text-align:center;
	margin:10px 0px;
}

#products .product_name {
	margin:0px 20px;
}

#products .product_name a {
	font-weight:bold;
	text-decoration:none;
	color:#000;
}

#products .product_name a:hover {
	text-decoration:underline;
	color:#00f;
}

#products .price {
	font-weight:bold;
	font-size:14px;
	color:#000;
}

#products .image_link img {
	border: 3px double #AFA582;
	height:100px;
}

#products table {
	width:90%;
	margin:5px;
	margin-right:auto;
	margin-left:auto;
}

.cartTop {
	text-align:left;
	background-color:#88CEEB;
}

.cartBottom {
	text-align:right;
	background-color:#88CEEB;
}

.cartBottomButtons {
	padding:5px;
	text-align:center;
}

.itemRow {
	text-align:left;
	border-bottom:1px solid black;
}

.image_1 {
	width:48px;
}

.image_0 {
	display:none;
}

.product_display_image {
	width:150px;
	float:left;
}

.product img {border: 3px double #AFA582;}

.product h4 {
	color: #DAA520;
}

.product_details {
	margin-left:180px;
}

.bold {font-weight:bold;}

/*
MorphTabs styles
*/

#morphTabs {
	position:relative;
	width:500px;
	height:200px;
	margin-left:180px;
	overflow:hidden;
}

#morphTabs ul.morphtabs_title {
	width:auto;
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 22px;
	
}

#morphTabs ul.morphtabs_title li {
	width:auto;
	float: left;
	/*background-color: #3975BD;*/
	padding: 0px 8px 0px 8px;
	/*margin-right: 2px;*/
	cursor: pointer;
	color: #000;
	font-family: "Trebuchet MS";
	font-size: 12px;
	height: 22px;
	line-height: 22px;
	background:none;
	background: url(/images/ushop/headDiv.png) repeat-x;
	border:1px solid #efefef;
	border-bottom:0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
}

#morphTabs ul.morphtabs_title a {
	text-decoration:none;
	color: #000;
}

#morphTabs ul.morphtabs_title li.over {
	font-weight: bold;
	background: url(/images/ushop/outerHeadDiv.png) repeat-x;
}

#morphTabs ul.morphtabs_title li.active {
	background-color: #fff;
	background: url(/images/ushop/outerHeadDiv.png) repeat-x;
}

#morphtabs_panelwrap {
	position: absolute;
	top:22px;
	overflow: hidden;
	width:496px;
	height:170px;
	background-color:#fff;
	border:1px solid #efefef;
	-moz-border-radius:0px 5px 5px 5px;
	-webkit-border-radius:0px 5px 5px 5px;
}

.morphtabs_panel {
	padding:5px;
	width:496px;
	height:168px;
	display:none;
	overflow: auto;
	background-color: #fff;
	color: #000;
	clear: both;
}

.morphtabs_panel.active {
	display: block;
}

/* Popup Details */
h3.curv {
	margin:0;
	padding:10px 0 0 0;
	background: url('/images/ushop/popup_top_02.png') no-repeat top left;
	/*background: url('/images/ushop/popup_top_02.gif') no-repeat top left;*/
	width:363px;
	min-height: 190px;
	*height: 190px;
	z-index:30;
	text-align: left;
}
h3.curv p {
	margin:0;
	padding:0 0 4px 0;
	color:#000;
	font:normal 10px verdana,helvetica;
	text-decoration:none;
	text-align: left;
}
h3.curv span.red {
	color:#900;
	font:normal 10px verdana,helvetica;
	display:inline;
}
div.innerC {
	width:363px;
	height:24px;
	background: url('/images/ushop/popup_btm_02.png') no-repeat top left;
	/*background: url('/images/ushop/popup_btm_02.gif') no-repeat top left;*/
	margin-right: 60px;
	z-index: 30;
}

.infoboxstyle {
	position: relative;
	z-index: 30;
	width:363px;
	height: 220px;
}
.infoboxstyle * {
	visibility: visible;
	position: relative;
	z-index: 31;
}

div.popupDetails {
	width: 280px;
	padding: 0px 0px 0px 18px;
}
div.popupDetails .prodlistName {
	color:#000;
	font:bold 16px arial,helvetica;
	padding-bottom: 4px;
}
div.popupDetails img {
	padding: 6px 8px 0px 0px;
}
div.popupDetails h2{
	padding-bottom: 4px;
}

#user_info, #user_cda, #merchant_info {
	border: 1px solid #000;
	border-spacing: 2px;
	margin: 15px;
}

#user_info tr:first-child, #user_cda tr:first-child, #merchant_info tr:first-child {
	background-color: skyblue;
}

#user_info td, #user_info th, #user_cda td, #user_cda th, #merchant_info td, #merchant_info th {
	text-align:left;
	padding:2px;
}

#user_info {
	float:left;
}

#cart table, #merchant_info {
	width: 100%;
}

#invoice #user_info, #invoice #user_cda, #invoice #merchant_info {
	margin: 0px;
}