html { background-color: #000; }
#uthandoLogo {
	background: url(/images/uthandocms.png) no-repeat center top;
	padding-top: 90px;
}

img {
	border: 0px;
	vertical-align:middle;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.center { text-align: center; }