<div id="outerDivBody" class="brdPad">
	<div id="setupWrap">
		<a href="http://www.shaunfreeman.co.uk" target="_blank" class="logo">
			<img src="/Common/images/uthandocms.png" id="uthandocmsLogo" alt="uthandocms" />
		</a>
		<h1>Uthando CMS Setup Wizard</h1>
		<!-- Main Content -->	
		<noscript>
			<h1 style="color:red">Please Enable Javascript</h1>
		</noscript>
		<div id="setupContentWrap">
			<!-- content starts here -->
			<param name="error" />
			<param name="content" />
			<!-- content ends here -->
		</div>
		<div id="messageBox"></div>
	</div>
	<div id="footerDivWrap">
		<div class="brdpad" style="clear:left;">&nbsp;</div> 
		<div id="footerDiv" class="headerDiv">
			<span>
				Powered By Uthando
				<img src="/Common/images/explorer.gif" style="vertical-align:middle" />
				<img src="/Common/images/firefox.gif" style="vertical-align:middle" />
				<img src="/Common/images/css.png" style="vertical-align:middle" />
				<img src="/Common/images/xhtml.png" style="vertical-align:middle" />
			</span>
			<span class="pagegen"><param name="benchmark" /></span>
		</div>
	</div>
</div>