<div id="outerDivWrap">
	<div id="headingDiv" class="headerDiv">
		<span class="">Control Panel</span>
	</div>
	<div id="outerDivBody" class="brdPad">
		<div id="leftDivWrap">
			<module name="left"></module>
			<div class="center">
				<img src="/Common/images/shaunfreemanlogo.png" />
			</div>
		</div>
		<!-- End menuDivWrap -->
		<!-- Main Content -->
		<div id="mainDivWrap">
			<div id="mainDivHeader" class="headerDiv">
				<param name="page" />
				<param name="login_status" />
			</div>
			<div id="mainDiv">
				<noscript>
					<h1>Please Enable Javascript</h1>
				</noscript>
				<!-- content starts here -->
				<param name="error" />
				<div class="scroller">
					<param name="content" />
					<!-- content ends here -->
					<div class="scrollarea">
						<div class="scrollBack"></div>
						<div class="scrollBarContainer">
							<div class="scrollKnob"></div>
						</div>
						<div class="scrollForward"></div>
					</div>
				</div>
			</div>
		</div>
		<div id="footerDiv" class="headerDiv">
			<p>
				<span>Powered By Uthando</span>
				<img src="/Common/images/Safari_Web_Badge.png" />
				<img src="/Common/images/firefox.gif" />
				<img src="/Common/images/css.png" />
				<img src="/Common/images/xhtml.png" />
				<param name="benchmark" />
			</p>
		</div>
	</div>
	<!-- End First Brdpad -->
</div>
<!-- End outerDivWrap -->