/*
Pagination
*/
.paginate_wrap {
	position:relative;
	/*top:34px;
	right:10px;*/
	padding:10px;
	width:250px;
	height:60px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.current_view {
	margin-left:12px;
}

div.paginate {
	line-height: 23px;
}

div.slider {
	width: 180px;
	height: 22px;
	float: left;
	margin: 2px 5px;
	cursor: pointer;
	background: url('/images/Slider.png') center center no-repeat;
}

div.knob {
	width: 22px;
	height: 22px;
	cursor: pointer;
	background: url('/images/Knob.png') no-repeat;
}

div.knob:hover {
	background-position: 0 -22px
}

div.numbers {
	float: left;
	margin: 2px 5px;
}

span.current {
	font-weight: bold;
}

.previous {
	position:absolute;
	left:0px;
	text-align:left;
}

.next {
	position:absolute;
	right:0px;
	text-align:right;
}

.previous a, .next a {
	color: #000;
	text-decoration:none;
}

.previous a:hover, .next a:hover {
	font-weight: bold;
}

/*
Tool Tips
*/

.tip {
    color: #fff;
    width: 139px;
}


.tip-title {
    font-weight: bold;
    font-size: 11px;
    margin: 0;
    color: #9FD4FF;
    padding: 8px 8px 4px;
    background: url(/images/bubble.png) top left;
}


.tip-text {
    font-size: 11px;
    padding: 4px 8px 8px;
    background: url(/images/bubble.png) bottom right;
}

#benchmark {
	text-align:center;
	font-size:12px;
}
