<div id="top">
	<div id="top_wrap">
		<div id="title">
			<h1 id="logo">
				<element name="img" param="logo" />
			</h1>
		</div>
		<div id="menu">
			<div id="uls">
				<module name="top menu"></module>
			</div>
		</div>
	</div>
</div>
<div id="body_top">
	<div id="body_bot">
		<div id="content">
			<div id="main">
				<div id="left_col">
					<module name="left"></module>
				</div>
				<!--3_col_start-->
				<section id="3col">
					<div id="main_content">
						<div id="banner">
							<module name="banner"></module>
						</div>
						<div id="main_body">
							<div id="ajax_content">
								<!-- content starts here -->
								<param name="login" />
								<param name="error" />
								<param name="content" />
								<!-- content ends here -->
							</div>
						</div>
					</div>
					<div id="right_col">
						<module name="right"></module>
					</div>
				</section>
				<!--3_col_end-->
				<!--2_col_start-->
				<section id="2col">
					<div id="main_content2">
						<div id="banner">
							<module name="banner"></module>
						</div>
						<div id="main_body2">
							<div id="ajax_content">
								<!-- content starts here -->
								<param name="login" />
								<param name="error" />
								<param name="content" />
								<!-- content ends here -->
							</div>
						</div>
					</div>
				</section>
				<!--2_col_end-->
				<div class="both">
					<!-- -->
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Copyright <param name="date" />&nbsp;<param name="merchant_name" />. All Rights Reserved.
		<br />
		<span><img src="/Common/images/uthando.png" />&nbsp;<a href="http://www.shaunfreeman.co.uk">Powered By Uthando</a></span>
	</p>
	<div id="benchmark">
		<param name="benchmark" />
	</div>
</div>