<div id="top">
	<div id="top_wrap">
		<div id="title">
			<h1 id="logo">
				<img src="/templates/modernviewblue/images/charismabooks2.png" alt="your Logo" title="your Logo" border="0" />
			</h1>
		</div>
		<div id="menu">
			<div id="uls">
				<!--{MODULE[top menu]}-->
			</div>
		</div>
	</div>
</div>
<div id="body_top">
	<div id="body_bot">
		<div id="content">
			<div id="main">
				<div id="left_col">
					<!--{MODULE[left]}-->
				</div>
				<!--3_col_start-->
				<div id="main_content">
					<div id="banner">
						<!--{MODULE[banner]}-->
					</div>
					<div id="main_body">
						<div id="ajax_content">
							<!-- content starts here -->
							<!--{LOGIN_STATUS}-->
							<!--{ERROR}-->
							<!--{CONTENT}-->
							<!-- content ends here -->
						</div>
					</div>
				</div>
				<div id="right_col">
					<!--{MODULE[right]}-->
				</div>
				<!--3_col_end-->
				<!--2_col_start-->
				<div id="main_content2">
					<div id="banner">
						<!--{MODULE[banner]}-->
					</div>
					<div id="main_body2">
						<div id="ajax_content">
							<!-- content starts here -->
							<!--{LOGIN_STATUS}-->
							<!--{ERROR}-->
							<!--{CONTENT}-->
							<!-- content ends here -->
						</div>
					</div>
				</div>
				<!--2_col_end-->
				<div class="both">
					<!-- -->
				</div>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<p>&copy; Copyright <!--{DATE}--> <!--{MERCHANT_NAME}-->. All Rights Reserved.
		<br />
		<span><img src="/Common/images/uthando.png" />&nbsp;<a href="http://www.shaunfreeman.co.uk">Powered By Uthando</a></span>
	</p>
	<div id="benchmark">
		<p><!--{BENCHMARK}--></p>
	</div>
</div>
<script type="text/javascript">
	COT("https://www.charismabooks.co.uk/userfiles/image/cot.gif", "SC2", "none");
</script>