/**
 *  Copyright www.joomlaDesigns.co.uk - 2007
 */

/* *********************** GENERAL SETTINGS     *********************** */
* {
	padding: 0px;
	margin: 0px;
}
html {
	height: 100%;
	padding-bottom: 0.1%; /* force scrollbars */
}
html, body{
	font: 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333;
}
body#normal {background: #333;}

/*  Global Formatting */
h1,h2,h3,h4,h5,h6 {padding: 6px 0 4px;}
h1,.contentheading {font: normal 24px "Trebuchet MS",Verdana,sans-serif; color: #111; line-height: 24px; padding-bottom: 8px;}
h2 {font: bold 14px Verdans,sans-serif; letter-spacing: -1px; line-height: 18px; color: #111;}
h3 {font: bold 16px Verdana,sans-serif; line-height: 20px;}
h4 {font: bold 13px Verdans,sans-serif; line-height: 14px;}
h5 {font: bold 12px Verdans,sans-serif; line-height: 13px;}
h6 {font: bold 11px Verdans,sans-serif; line-height: 12px;}

td{font-size: 11px;}
th{font-size: 11px;}

a {color: #5ea3b2; text-decoration: none;}
a:hover {color: #000; text-decoration: underline;}
a.image, a.image:hover  {border:0;}
a.mainlevel {font: normal 1.2em sans-serif; line-height: 20px; background: url(../images/dot.gif) no-repeat left center; padding-left: 10px;}

li{list-style: none; }
#dMain ul {clear: both; padding: 6px 20px 12px;}

fieldset {
	width: 470px;
	padding: 5px;
	border: 1px solid #eee;
}
/* *********************** END GENERAL SETTINGS *********************** */

/* *********************** LAYOUT SETTINGS      *********************** */

/* top */
#dTop {
	border-top: 5px solid #000;
	background: #111 url(../images/grdnt_black.jpg) repeat-x;
	color: #FFF;
	padding: 24px 0;
}
#dTop .center {padding: 0;}
#dTop .left {font: normal 2em sans-serif; padding-left: 15px; line-height: 50px;}
#dTop .right {width: 150px;}
#dTop .search {padding-top: 15px;}
#dTop .topMenu {clear: both;}
#dTop .topMenu li {float: right; margin-left: 30px;}
#dTop a {color: #fff; font: normal 1.2em sans-serif; text-decoration: none;} 
#dTop a:hover {color: #FFF;text-decoration: underline;}
#dTop form {float: right; padding: 0; margin: 0;}

/* newsflash */
#dFlash {
	background: #000 url(../images/flash.jpg) repeat-x;
	color: #FFF;	
}

/* main content styles */
#dMain {background: #FFF url(../images/main.jpg) repeat-x; padding: 10px; 0;}
.mid li,.mainright li,.mainleft li {list-style: disc;}
#dMain p {padding: 3px 0 4px;}

.componentheading {
	font: normal 1.4em Verdana,sans-serif;
	padding-bottom: 6px;
}
.sectiontableentry1,.sectiontableentry2 {padding: 2px 0;}

table.contentpaneopen {margin-right: 16px;}

.mosimage_caption {font-style: italic;}

.contenttoc {
	padding: 10px;
	text-align: left;
}
.contentpaneopen img {
	border: 5px solid #DDD;
	margin: 10px;
}
.buttonheading img {border: none; margin: 0;}

/* footer */
#dFooter {
	border-top: 5px solid #53a3b2;
	color: #CCC;
}
#dFooter a {color: #FFF;}

/* forms */
.left form {padding-bottom: 10px;}
form a {display: inline;}

/* misc */
.center {width: 760px; margin: 0 auto; padding: 12px 0;}
.clearer {clear: both; font-size: 0;}
.left {float: left;}
.right {float: right;}
.small {color: #333;}
.createdate {padding-bottom: 6px; color: #999;}

/* column combinations */
.col2 .mainleft,.col2 .mainright {width: 78%; float: left;}
.col2 .mainright {float: right;}

.col3 .left,.col3 .right,.col2 .left,.col2 .right {width: 20%;}
.col3 .mid {float: left; width: 54%; margin: 0 2%;}

/* *********************** END LAYOUT SETTINGS  *********************** */
/**
 *  Copyright www.joomlaDesigns.co.uk - 2007
 */