.cartTop {
	text-align:left;
	background-color:#88CEEB;
}

.cartBottom {
	text-align:right;
	background-color:#88CEEB;
}

.itemRow {
	text-align:left;
	border-bottom:1px solid black;
}

.image_1 {
	width:48px;
}

.image_0 {
	display:none;
}

#user_info tr:first-child, #user_cda tr:first-child, #merchant_info tr:first-child {
	background-color: skyblue;
}

#user_info td, #user_info th, #user_cda td, #user_cda th, #merchant_info td, #merchant_info th {
	text-align:left;
	padding:2px;
}

#user_info {
	float:left;
}

#cart table, #merchant_info {
	width: 100%;
}

#invoice #user_info, #invoice #user_cda, #invoice #merchant_info {
	margin: 0px;
}